:root {
    --button: linear-gradient(135deg, #6366f1, #a855f7);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0;
    padding: 15px;
    border-bottom: 0.5px solid rgba(99, 102, 241, 0.1);
}

#header-div {
    width: 100%;
}

#header-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 15px;
}

svg {
    width: 0.8rem;
    height: 0.8rem;
}

.title {
    text-align: center;
}

.progress-text {
    font-size: 0.8rem;
    color: #64748b;
}

.progress {
    display: flex;
    justify-content: center;
}

#progress {
    width: 100%;
    height: 11px;
    appearance: none;
}

#progress::-webkit-progress-bar {
    background-color: rgba(99, 102, 241, 0.1);
    border-radius: 1rem;
}

#progress::-webkit-progress-value {
    border-radius: 1rem;
    background-color: #6366f1;
}

hr {
    margin: 0;
    border: 0.5px solid rgba(99, 102, 241, 0.1);
}

form {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    margin-bottom: 0;
    overflow-y: auto;
    position: absolute;
    top: 95px;
    bottom: 80px;
}

#body {
    width: 100%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon > div {
    background-color: #eef2ff;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    padding: 18px;
}

h2 {
    margin: 0;
}

.question-container {
    padding-bottom: 10px;
}

.question {
    text-align: center;
    margin-bottom: 10px;
}

.question:nth-of-type(2) {
    color: #64748b;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tag {
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid rgba(99, 102, 241, 0.1);
    border-radius: 1rem;
    padding: 12px;
    text-align: center;
    margin: 5px;
    transition: transform 0.3s ease-out;
}

.tag:hover {
    cursor: pointer;
    background-color: #eef2ff;
    border: 1px solid #6366f1;
    transform: scale(1.05);
}

.tag.selected {
  background-color: #6366f1;
  color: #fff;
  border: none;
  font-weight: 600;
}

.comment {
    background-color: #f1f5f9;
    border-radius: 1rem;
    padding: 15px;
    text-align: center;
}

.comment > div > span {
    color: #6366f1;
    font-weight: 500;
}

.comment > div:nth-of-type(2) {
    font-size: 0.8rem;
    color: #64748b;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    border-top: 0.5px solid rgba(99, 102, 241, 0.1);
}

#footer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

button {
    width: 100%;
    background: linear-gradient(135deg, #6366f1, #a855f7);
    border-radius: 1rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

button > svg, button {
    color: #fff;
    font-weight: 500;
}

#next-button:disabled {
    background: linear-gradient(135deg, rgba(99, 102, 241, 0.5), rgba(168, 85, 247, 0.5));
    color: #fff;
    cursor: not-allowed;
}

@media (min-width: 780px) {
    #header-div, #body, #next-button {
        width: 500px;
    }
}