* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #fff;
    background: linear-gradient(135deg, #6366f1, #a855f7);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo > div {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 15px;
}

.header-comment {
    font-size: 1.1rem;
    font-weight: 500;
}

.header-explain {
    font-weight: 300;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.body > div {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

#login-logo {
    margin-bottom: 15px;
}

.login-logo {
    margin: 5px 5px 10px;
}

button {
    width: 100%;
    border: none;
    background-color: white;
}

.login {
    border-radius: 12px;
    padding: 15px 20px;
}

.login > a {
    font-weight: 500;
    text-decoration: none;
    color: black;
    border-radius: 12px;
}

#kakao {
    background-color: #FAE100;
}

#kakao:hover {
    background-color: color-mix(in srgb, #FAE100, black 5%);
}

#google {
    background-color: #F6F6F6;
}

#google:hover {
    background-color: color-mix(in srgb, #F6F6F6, black 5%);
}

.strong {
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer > p {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    margin: 10px;
}

.footer > p:last-of-type {
    font-weight: 400;
}

@media (min-width: 768px) {
  .body {
    width: 100%;
  }
}