{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>채팅방</title>
  <link rel="stylesheet" href="{% static 'chats/css/chat_room.css' %}">
</head>
<body>
  <div class="chat-header">
    <a href="/chats/rooms/page/" class="back-btn">
      <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" 
          width="30" height="30" 
          viewBox="0 0 24 24" 
          fill="none" stroke="currentColor" stroke-width="2" 
          stroke-linecap="round" stroke-linejoin="round">
        <polyline points="15 18 9 12 15 6" />
      </svg>
    </a>
    <div class="profile-circle">
      {{ opponent_initials.0 }}
    </div>
    <div class="chat-title">
      <div class="chat-nickname">
        {% if opponent_nicknames|length > 1 %}
          {{ opponent_nicknames|join:", " }}
        {% else %}
          {{ opponent_nicknames.0 }}
        {% endif %}
      </div>
      <div class = "chatting">
        대화 중...
      </div>
    </div>
  </div>

  <div id="chat-log"></div>
  <div class="footer">
    <div class="meeting-complete-container">
      <button id="meeting-complete-btn" class="meeting-complete-btn">
          📍 만남 완료로 표시
      </button>
    </div>
    <div class="chat-input-container">
      <input type="text" id="chat-input" placeholder="메시지를 입력하세요..." />
      <button id="send-btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="20" height="20" stroke="white" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M22 2L11 13M22 2l-7 20-4-9-9-4 20-7z" />
          </svg>
      </button>
    </div>
  </div>
  <script>
    const ROOM_ID = "{{ room_id }}";
    const CURRENT_USER_ID = "{{ request.user.id }}";
  </script>
  <script src="{% static 'chats/js/chat_room.js' %}"></script>
</body>
</html>
