{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'chats/css/chat_rooms.css' %}">
{% endblock %}

{% block header %}
<div id="header">
    <div class="div-container">
        <div class="icon">💬</div>
        <div class="header-context">
            <h1 class="header-title">대화방</h1>
            <p class="comment">진행 중인 대화들을 확인해보세요</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<ul id="room-list"></ul>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'chats/js/chat_rooms.js' %}"></script>
{% endblock %}
