{% extends 'profiles/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile_2.css' %}">
{% endblock %}

{% block content %}
<div id="header">
    <div id="header-div">
        <div id="header-grid">
          <a href="{% url 'profiles:profile_step1_page' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
              </svg>
            </a>
          <div>
            <div class="title"><strong>나만의 프로필 만들기</strong></div>
            <div><span class="progress-text">✨ 2/5단계 - 차근차근 함께해요</span></div>
          </div>
          <div></div>
        </div>
        <div class="progress"><progress id="progress" value="2" min="0" max="5"></progress></div>
    </div>
</div>
<form method="POST" action="#" id="interest-form">
{% csrf_token %}
<div id="body">
    <div>
        <div class="icon">
            <div>🌱</div>
        </div>
        <div class="question-container">
            <div class="question"><h2>어떤 분야에 관심이 있으세요?</h2></div>
            <div class="question">같은 관심사를 가진 친구들과 연결해드릴게요</div>
        </div>
        <div class="tag-container">
            {% for interest in interests %}
            <div class="tag" data-id="{{ interest.id }}" data-keyword="{{ interest.name }}">#{{ interest.name }}</div>
            {% endfor %}
        </div>
        <div class="comment">
            <div>🎯 <span id="tag-count">선택된 관심사 : 0/4</span></div>
            <div id="tag-comment">정확한 매칭을 위해 관심사 4개를 모두 선택해주세요.</div>
        </div>
    </div>
</div>
<div id="footer">
    <div>
        <button type="submit" id="next-button" disabled>
            다음으로 넘어가기
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </button>
    </div>
</div>
</form>

<script>
  // 템플릿 변수를 전역 변수로 설정 (profile-onboarding.js에서 사용)
  window.tmplAccess = "{{ access_token|default:''|escapejs }}";
  window.tmplRefresh = "{{ refresh_token|default:''|escapejs }}";
</script>
<script src="{% static 'profiles/js/profile-onboarding.js' %}"></script>
{% endblock %}