{% extends 'base.html' %}
{% block content %}
<div id="header">
    <div>
        <div><strong>나만의 프로필 만들기</strong></div>
        <div><span>✨ 2/5단계 - 차근차근 함께해요</span></div>
        <div><progress id="progress" value="2" min="0" max="5"></progress></div>
    </div>
</div>
<div id="body">
    <div>
        <div>
            <div>🌱</div>
        </div>
        <div class="tag-container">
            <div class="tag">#창업</div>
            <div class="tag">#개발</div>
            <div class="tag">#취업</div>
            <div class="tag">#진로</div>
            <div class="tag">#AI</div>
            <div class="tag">#UX/UI</div>
            <div class="tag">#마케팅</div>
            <div class="tag">#투자</div>
            <div class="tag">#데이터분석</div>
            <div class="tag">#디자인</div>
            <div class="tag">#외국어</div>
            <div class="tag">#스터디</div>
            <div class="tag">#프로젝트관리</div>
            <div class="tag">#경제</div>
            <div class="tag">#금융</div>
            <div class="tag">#컨설팅</div>
            <div class="tag">#기획</div>
            <div class="tag">#영업</div>
            <div class="tag">#교환학생</div>
            <div class="tag">#인턴십</div>
            <div class="tag">#블록체인</div>
            <div class="tag">#게임개발</div>
            <div class="tag">#모바일앱</div>
            <div class="tag">#웹개발</div>
            <div class="tag">#머신러닝</div>
            <div class="tag">#정보보안</div>
            <div class="tag">#대학원</div>
            <div class="tag">#공모전</div>
            <div class="tag">#부트캠프</div>
            <div class="tag">#동아리</div>
        </div>
        <div class="comment">
            <div>🎯 <span><strong>선택된 관심사 : </strong>0/4</span></div> <!--선택개수만큼 바뀌는 거 구현해야 함-->
            <div>정확한 매칭을 위해 관심사 4개를 모두 선택해주세요.</div>
        </div>
    </div>
</div>
{% endblock %}