* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

html {
    font-size: 14px;
    background-color: #fafbff;
    font-family: 'Noto Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    word-break: keep-all;
    word-wrap: break-word;
}

body {
    color: 	#1a1d29;
}